<%- include('./partails/header') %>
    <%- include('./partails/nav') %>

        <div class="container">
            <h1 class="text-center">about us</h1>
            <p class="text-muted text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quibusdam
                dignissimos
                vel animi unde inventore, rerum optio laboriosam eaque minus modi natus harum voluptate. Sapiente quo
                distinctio
                possimus sint error iste dolorum vero similique minus. Esse deserunt recusandae quisquam eius natus
                quasi ad
                velit
                voluptatibus, ut praesentium, modi dolores, nostrum tenetur quos consequatur corporis fuga. Modi vero
                officia culpa
                ipsam ullam mollitia libero nisi dolorum eius assumenda quo laborum pariatur ipsum aspernatur sed eaque,
                repellat
                esse maxime consequatur cumque! Quam sunt dolores libero ab fugiat fuga neque est nisi repellat, atque
                excepturi
                molestiae debitis dignissimos, perspiciatis aliquid explicabo at vitae.</p>

        </div>
        <%- include('./partails/scripts') %>



            <%- include('./partails/footer') %>